.slick-arrow {
  background-color: gray !important;
  z-index: 10;
  border-radius: 50%;
}

.slick-prev {
  left: 5px !important;
}

.slick-next {
  right: 5px !important;
}

.slick-dots {
  bottom: 0 !important;
}

.featured-slider-card {
  h2 {
    font-size: 30px;
    color: $color-primary;
  }

  h3 {
    font-size: 25px;
  }

  h1 {
    color: $color-text;
  }
}

.offer-card {
  transition: all 0.3s;

  h3 {
    margin: 15px 0;
  }

  &:hover &-img {
    transform: scale(1.1);
  }

  &-img {
    transition: all 0.3s;
    animation: flip 5s linear infinite;
  }
}

.notice-text {
  font-size: 15px;
  width: max-content;
  animation: marquee 25s linear infinite;
}

.featured-cat-card {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 3px 5px 8px rgba($color-primary, 0.3) !important;
  }

  img {
    max-width: 60px;
    width: 100%;
    height: auto;
  }
}
