.slider {
  img {
    aspect-ratio: 1 / 1;
  }
}

.thumb {
  img {
    aspect-ratio: 1 / 1;
  }
}

.breadcrumb {
  &-links > * {
    margin: 0 10px;
  }

  a {
    transition: all 0.3s;
    font-size: 16px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.variant-card-holder {
  gap: 10px;
}

.variant-card {
  width: 130px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid transparent;

  &:hover {
    box-shadow: $box-shadow;
  }

  &-selected {
    box-shadow: $box-shadow;
    border: 1px solid $color-primary;
  }
}

.icon-value {
  img {
    width: 20px;
  }
}

.color-card-holder {
  gap: 20px;
}

.color-card {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid transparent;

  &:hover {
    box-shadow: $box-shadow;
  }

  &-selected {
    box-shadow: $box-shadow;
    border: 5px solid $color-white-2;
  }
}

.button-alt {
  transition: all 0.3s;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.features-list {
  li {
    position: relative;
    list-style: none;
    margin-left: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      left: -35px;
      width: 25px;
      height: 25px;
      background-image: url(../../public/pages/productDetails/list-style.png);
      background-size: cover;
      background-position: center center;
    }
  }
}
