.wishlist-card {
  border-radius: 12px;

  div {
    //flex-grow: 1;
    width: 100%;
  }

  img {
    max-width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 50px;
    font-weight: 300;
  }

  input[type='checkbox'] {
    margin: 0 50px;
    max-width: 22px;
    width: 22px;
    height: 22px;
    padding: 0;
  }

  .first-group {
    width: auto;

    @media (max-width: $breakpoint-md) {
      width: 100%;
      justify-content: center;
    }
  }

  .second-group {
    @media (max-width: $breakpoint-md) {
      width: 100%;
      justify-content: center;
    }
  }

  .view-details-btn {
    align-self: flex-start;

    @media (max-width: $breakpoint-sm) {
      align-self: center;
    }
  }
}
