// Colors
$color-primary: #2185d0;
$color-secondary: #1f79bf;

$color-white: #fff;
$color-white-2: #ebeaea;
$color-white-3: #dfdfdf;

$color-black: #000;
$color-black-2: #333;
$color-black-3: #666;

$color-text: #888;
$color-text-2: #777;

$color-red: #b83d27;
