.d-layout {
  display: flex;

  .sidenav {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    overflow-y: auto;

    .sidenav-header {
      height: 40px;

      h2 {
        line-height: 40px;
        margin-top: 12px;
      }

      .sidenav-bar {
        cursor: pointer;
      }
    }
  }
}

.d-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: $color-secondary !important;
}

.d-layout-content {
  margin-top: 60px;
  padding-left: 270px;
}

.content-collapsed {
  padding-left: 80px;
}

.fixed-collapsed {
  left: 80px !important;
}

.not-fixed-collapsed {
  left: 270px !important;
}
