.featured-products-container {
  gap: 10px;
}

.featured-product-card {
  width: 250px;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;

  &:hover {
    box-shadow: $box-shadow;
  }

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  a {
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__price {
    margin-top: auto !important;

    h4 {
      color: $color-text-2;
    }

    h3 {
      color: $color-primary;
    }

    p {
      font-size: 14px;
    }

    .negative-margin-top {
      margin-bottom: -20px;
    }
  }

  &:hover &__add-to-wishlist {
    opacity: 1;
  }

  &__add-to-wishlist {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    padding: 5px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    color: $color-red;
    background-color: $color-white;
    border: 1px solid currentColor;
    transition: all 0.3s;
    opacity: 0;

    &:hover {
      background-color: $color-red;
      color: $color-white;
      border: 1px solid currentColor;
    }
  }

  &:hover &__add-to-cart {
    opacity: 1;
  }

  &__add-to-cart {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 55px;
    padding: 5px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid currentColor;
    transition: all 0.3s;
    opacity: 0;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
      border: 1px solid currentColor;
    }
  }

  &__new {
    position: absolute;
    top: 0px;
    left: -5px;
    padding: 5px 15px;
    color: $color-white;
    background-color: $color-red;
    transform: skewX(-20deg);

    p {
      font-size: 13px;
      transform: skewX(20deg);
    }
  }
}
