.dashboard-nav {
  width: 300px;
  position: fixed;
  min-height: calc(100vh - 56px);
  top: 56px;
  left: 0;
}

.dashboard-content {
  padding-left: 300px;
  width: 100%;
}

.dashboard-link {
  font-size: 20px;
}
